# ローカルにインストールされたAndroid SDKを利用する。
{{- if eq .chezmoi.os "darwin" }}
android_sdk="$HOME/Library/Android/sdk"
{{- else if eq .chezmoi.os "linux" }}
android_sdk="$HOME/Android/Sdk"
{{- else }}
android_sdk=""
{{- end }}

if [[ -n "$android_sdk" && -d "$android_sdk" ]]; then
  export ANDROID_SDK_ROOT="$android_sdk"
  export PATH="$ANDROID_SDK_ROOT/platform-tools:$ANDROID_SDK_ROOT/emulator:$ANDROID_SDK_ROOT/cmdline-tools/latest/bin:$PATH"
fi

unset android_sdk
